<h2>Registrar usuario</h2>
<form [formGroup]="formReg" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label">Correo</label>
        <input type="text" class="form-control" formControlName="email">
    </div>
    <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input type="password" class="form-control" formControlName="password">
    </div>
    <input type="submit" value="Enviar"><br>
    <button routerLink="/login" class="btn btn-outline-danger mt-5">Salir</button>
</form>